@model ToBuy.Common.DTOs.CategoryDto;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
    <a href="https://karasayfa.com">Tam surumu icin tiklayin</a>
    <ul>

        @foreach (var cat in Model.Children)
        {
            <li><a href="./category/@cat.Id"> @cat.Name</a></li>
            @foreach (var cat2 in cat.Children)
            {
                <li>&nbsp; <a href="./category/@cat2.Id"> @cat2.Name</a></li>
                if (cat2.Children != null)
                {
                    @foreach (var cat3 in cat2.Children)
                    {
                        <li>&nbsp; &nbsp; <a href="./category/@cat3.Id"> @cat3.Name</a></li>
                        if (cat3.Children != null)
                        {
                            @foreach (var cat4 in cat3.Children)
                            {
                                <li>&nbsp; &nbsp;&nbsp; <a href="./category/@cat4.Id"> @cat4.Name</a></li>

                            }
                        }
                    }
                }
            }
        }
    </ul>
</body>
</html>
